/*
author: jeffrey lecompte
github: https://github.com/jeffreylec
website: https://jef.rocks
*/

@import url('https://fonts.googleapis.com/css?family=Roboto|Shrikhand');

.container {
    width: auto;
    max-width: 600px;
    padding: 0 15px;
    text-align: center;
}

#freeTimeSentence {
    font-weight: bold;
}

/* Social Icons http://codepen.io/JonDCarey/pen/wAjrx */
#social_side_links {
    position: fixed;
    top: 70px;
    left: 0;
    padding: 0;
    list-style: none;
    z-index: 99;
}

#social_side_links li a {
    display: block;
}

#social_side_links li a img {
    display: block;
    max-width: 40px;
    padding: 10px;
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -o-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 60px;
}

h1 {
    font-family: 'Shrikhand', cursive;
}

h4 {
    color: darkgray !important;
}

input {
    text-align: center;
}