/*
author: jeffrey lecompte
github: https://github.com/jeffreylec
website: https://jef.rocks
*/

@import url('https://fonts.googleapis.com/css?family=Roboto|Shrikhand');

/* absolute center from: http://codepen.io/shshaw/full/gEiDt*/
.Absolute-Center {
    margin: auto;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.Absolute-Center.is-Responsive {
    width: 50%;
    height: 50%;
    min-width: 200px;
    max-width: 400px;
}

.footer {
    position: fixed;
    bottom: -7px;
    left: 10px;
}

#freeTimeSentence {
    font-weight: bold;
}

/* Social Icons http://codepen.io/JonDCarey/pen/wAjrx */
#social_side_links {
    position: fixed;
    top: 70px;
    left: 0;
    padding: 0;
    list-style: none;
    z-index: 99;
}

#social_side_links li a {
    display: block;
}

#social_side_links li a img {
    display: block;
    max-width: 40px;
    padding: 10px;
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -o-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
}

h1 {
    font-family: 'Shrikhand', cursive;
}

h4 {
    color: darkgray !important;
}

body {
    font-family: 'Roboto', sans-serif;
}