/*
author: jeffrey lecompte
github: https://github.com/jeffreylec
website: https://jef.rocks
*/

@import url('https://fonts.googleapis.com/css?family=Roboto|Shrikhand');

.container {
    width: auto;
    max-width: 600px;
    padding: 0 15px;
    text-align: center;
}

.container .text-muted {
    margin: 20px 0;
}

#freeTimeSentence {
    font-weight: bold;
}

/* http://codepen.io/JonDCarey/pen/wAjrx */
#social_side_links {
    position: fixed;
    top: 70px;
    left: 0;
    padding: 0;
    list-style: none;
    z-index: 99;
}

#social_side_links li a {
    display: block;
}

#social_side_links li a img {
    display: block;
    max-width: 40px;
    padding: 10px;
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -o-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 60px;
    padding-bottom: 15px;
    background-color: #ffffff;
}

/* http://stackoverflow.com/a/12250084/5648644 */
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f9f9f9;
}

h1 {
    font-family: 'Shrikhand', cursive;
}

h4 {
    color: darkgray !important;
}

input {
    text-align: center;
}